{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "plugin:jest/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "jest"
  ],
  "root": true,
  "rules": {
    "max-len": ["error", 120]
  }
}
