{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "plugin:jest/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "babel-eslint",
  "root": true
}
